.fileContainer{
    width:108px;
    height: 90px;
    padding:2px;
    border: 1px solid #000000;
  }
  
  
  .container {
    min-height: 100px;
    width: 100%;
    background: #f2f2f2;
    border: 1px dashed #37404d;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .files div {
    min-width: 108px;
    max-width: 160px;
    height: 90px;
    border-radius: 10px;
  }
  
  .files div img {
    border-radius: 10px;
  }
  
  .upload {
    position:absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  
  .hover {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    display: grid;
    place-items: center;
  }
  
  .hoverOverLay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04AA6D;
    opacity: 0.7;
  }
  

  .file {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
  }
  
  .file::-webkit-file-upload-button {
    visibility: hidden;
  }