.tabs {
  width: 100%;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #f0f1f5;
  background-color: #f0f1f5;
  box-sizing: border-box;
}

.tab {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  height: 100%;
  width: fit-content;
  cursor: pointer;
  box-sizing: border-box;
}


.activeTab {
  border-bottom: 2px solid #4285fa;
  font-weight: 600;
  font-family: 'Inter';
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  height: 100%;
  width: fit-content;
  cursor: pointer;
  box-sizing: border-box;
}
